*{
    font-family: "Roboto Slab", serif;
}
.quadrado{
    width: 150px;
    height: 150px;
    font-size: 80px;
    text-align: center;
    background-color: rgba(13, 68, 41, 0.726);
    color: aliceblue;
    border-radius: 10px;
}
h1{
    text-align: center;
    color: white;
}
.container{
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: 1000;
    padding: 20px;
    background: linear-gradient(to right, rgb(37, 15, 235), rgb(223, 186, 117));
}
.jogo{
    margin: 0 auto;
    border-radius: 15px;
}
button{
    font-size: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    background-color: rgba(13, 68, 41, 0.726);
    color: white;
    border-radius: 10px;
}